@use "../utilities/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

.card{
    max-width: 350px;
    align-self: center;
    justify-self: center;
    
    display: grid;

    figure{
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: fit-content;
        img{
            width: 100%;
            border-radius: 10px 10px 0px 0px;
            align-self: center;
        }
    }

    .text-area{
        display: grid;
        margin: 10px 25px 10px 25px;
    }  

    h2{
        font-size: 32px;
        font-family: "Fraunces";
        color: map-get($map: $neutral, $key: "VeryDarkBlue")
    }

    h4, .text-area > p{
        color: map-get($map: $neutral, $key: "DarkGrayishBlue");
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 13px;
        line-height: 200%;
    }

    .text-area > p{
        margin-bottom: 30px;
    }

    & > *, .text-area > *{
        margin-bottom: 10px;
    }

    .prices{
        display: flex;
        align-items: center;

        .false-price{
            color: map-get($map: $neutral, $key: "DarkGrayishBlue");
            text-decoration: line-through;
            font-family: "Montserrat";
            font-size: 13px;
        }

        .true-price{
            font-family: "Fraunces";
            color: map-get($map: $primary, $key: "DarkCyan");
            font-size: 36px;
            margin-right: 30px;
        }
    }

}