@use "../utilities/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


button{
    background-color: map-get($map: $primary, $key: "DarkCyan");
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding: 13px 0 13px 0;
    font-family: "Montserrat";

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    border-style: solid;
    
    p{
        margin-left: 10px;
    }

    &:active{
        background-color: map-get($map: $neutral, $key: "DarkerCyan");
    }

}